<div (click)="onClick()"
     automation-id="header"
     *ngIf="!isEdit"
     class="d-flex justify-content-between align-items-center preview-title">
  {{purchase.title}}
  <span class="badge badge-secondary" automation-id="price">{{purchase.price | currency:'RUB':''}}</span>
  <span class="badge badge-danger delete-btn" (click)="onDeleteClick($event)">&times;</span>
</div>
<div class="preview-body" *ngIf="isOpen && !isEdit" automation-id="preview-body">
  <table class="details">
    <tr>
      <th>Дата:</th>
      <td automation-id="date">{{purchase.date | date:'longDate'}}</td>
    </tr>
    <tr *ngIf="purchase.comment">
      <th>Комментарий:</th>
      <td automation-id="comment">{{purchase.comment}}</td>
    </tr>
  </table>
</div>
<div class="preview-body">
  <form automation-id="edit-purchase-form" *ngIf="isEdit">
    <div class="form-group">
      <input formControlName="title"
             type="text"
             class="form-control"
             automation-id="title-control"
             placeholder="Название">
      <div class="invalid-feedback" automation-id="title-error">
        {{form.get('title').errors && getErrors(form.get('title').errors)}}
      </div>
    </div>
    <div class="form-group">
      <input formControlName="price"
             type="text"
             class="form-control"
             automation-id="price-control"
             placeholder="Стоимость">
      <div class="invalid-feedback" automation-id="price-error">
        {{form.get('price').errors && getErrors(form.get('price').errors)}}
      </div>
    </div>
    <div class="form-group">
      <input formControlName="date"
             type="date"
             class="form-control"
             automation-id="date-control"
             placeholder="Дата">
    </div>
    <div class="form-group">
    <textarea formControlName="comment"
              class="form-control"
              automation-id="comment-control"></textarea>
    </div>
    <div class="form-group">
      <button type="submit"
              [disabled]="form.pristine || form.invalid"
              automation-id="submit"
              class="btn btn-success btn-block">Готово
      </button>
    </div>
  </form>
  <button automation-id="cancel-edit-btn" class="btn btn-danger btn-block" *ngIf="isEdit" (click)="toggleEdit()">Отмена</button>
  <button  automation-id="begin-edit-btn" class="btn btn-warning btn-block" (click)="onEditPurchase()" *ngIf="isOpen">Редактировать</button>
</div>
